.col-2 {
    width: 0.1667%;
    background-color: crimson;
}

.col-8 {
    width: 0.6667%;
    /* float: right; */
    text-align: center;
}

#right-col {
    /* float: right; */
}

#left-col {
    /* float: left; */
}

.row {
    /* center */
    border-width: 5px;
    text-align: center;
    width: 500px;
    background-color: cyan;
}