#wrapper {
    position: relative;
    /* center */
    border-width: 5px;
    text-align: center;
    width: 800px;
    background-color: cyan;
    left: calc(50% - 400px);
    right: calc(50% - 400px);
    height: calc(100%);
}

.score {
    font-weight: bolder;
    background-color: paleturquoise;
}

body {
    text-align: center;
}